/* THIS SECTION IT'S DEDICATED TO THE NAVIGATION MENU */
.itemMenu{
  display: flex;
}
.superTitle h1{
  display: inline;
  font-size: 20px;
  font-weight: bolder;
  color:#1CAA98;
}
.superTitle{
  display: inline-block;
  width: 10%;
  margin-top: 8px;
}
.itemMenu a{
  color: black;
}
/* THIS SECTION IT'S DEDICATED TO THE HOME PAGE */
.showcase{
  width: 100%;
  background-image: url(img/site_showcase_bg.jpg);
  background-size: cover;
 }
.showcase-container{
   display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: white;
}
.showcase-box1{
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: 49%;
  min-width: 100px;
}
.showcase-box1 .case1{
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 100%;
  justify-content: flex-end;
  
}
.showcase-box2{
  display: flex;
  flex-direction: column;
  min-height: 400px;
  width: 49%;
  min-width: 100px;
  justify-content: flex-end;
}
.featured-showcase-text{
  color: #1CAA98;
  font-size: 50px;
}
.case1 h2{
  font-size: 40px;
}
.case1 p{
  font-size: 20px;
}
.showcase-container.showcase-box1 {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  align-content: space-between;
}
.case2 .storeLogo{
  width: 40%;
  height: 80px
}
.showcase-box2 img{
  max-width: 270px;
}
